body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.container a {
    display: block;
    margin: 10px;
    padding: 15px;
    background: white;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
